---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section class="flex flex-col gap-y-5">
    <h1>About me</h1>
    <h2>...and my new Astro site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>
    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>
    <p>I am happy to be learning Astro!</p>
    <p>I finished this tutorial!</p>
    <p>My goal is to finish in 3 days.</p>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is Sarah.</li>
      <li>I live in Canada and I work as a Technical Writer.</li>
      <li>Two of my hobbies are: photography and birdwatching</li>
    </ul>
    <p>My skills are:</p>
    <ul class="uppercase text-accent font-bold">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Astro</li>
      <li>React</li>
      <li>Writing Docs</li>
    </ul>
  </section>
</Layout>
