---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <section class="flex flex-col gap-y-5">
    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>

    <ul class="font-bold text-accent">
      <li><a href="/blog/first-post">First Post</a></li>
      <li><a href="/blog/second-post">Second Post</a></li>
      <li><a href="/blog/third-post">Third Post</a></li>
      <li><a href="/blog/fourth-post">Fourth Post</a></li>
    </ul>
  </section>
</Layout>
