---
import NavLink from "./NavLink.astro";
---

<nav class="w-screen flex justify-center text-2xl">
  <NavLink href="/" link="Home" />
  <NavLink href="/about" link="About" />
  <NavLink href="/blog" link="Blog" />
</nav>
